extends layout

block content
  p Welcome
  p
    a(href='/worbli/login-oauth2') Authorize application usign pasport-oauth2
  p
    a(href='/worbli/login-worbli') Authorize application usign pasport-worbli
    p
    a(href='/worbli/login-openid') Login with Worbli
