extends layout

block content
  p Welcome
  p
    a(href='/worbli/login-oauth2') Login with Worbli account usign pasport-oauth2
  p
    a(href='/worbli/login-worbli') Login with Worbli account usign pasport-worbli
