extends layout

block content
  p User
  dl
    dt email:
    dd= emails[0].value
    dt Display Name:
    dd= displayName
    dt First Name:
    dd= name.givenName
    dt Last Name:
    dd= name.familyName
